.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.splitter__divider {
  width: 6px;
  cursor: ew-resize;
  background-color: #cccccc;
}

.splitter__divider:hover {
  background-color: #888888;
}

.grow {
  flex-grow: 1;
  overflow: auto;
}
